# ignoring all...
*

# ...but source codes...
!*.cpp
!*.lisp
!*.c
!*.java
!*.py
!*.hs
!*.ml

# ...or local emacs config...
!*.dir-locals.el

# ...or gitignore...
!.gitignore

# ...even if they're in subdirectories
!*/
